@charset "utf-8";
.walnutCreek {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	background-color: #FFFFFF;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
